body {
    margin: 0px;
}

main {
    margin-left: 0;
    margin-right: 0;
    margin-top: 63px;
}

@media only screen and (min-width: 1200px) {
    main {
        margin-left: 300px;
        margin-right: 300px;
    }
}

.map-info-box {
    position: absolute;
    z-index: 500;
}

.map-icon-practice .fa {
    color: white;
}

.leaflet-tooltip {
    margin: 0px !important;
}
.leaflet-tooltip p {
    margin: 0px !important;
}
.leaflet-tooltip h4 {
    margin: 0px !important;
}