body {
    margin: 0px;
}

main {
    margin-left: 0;
    margin-right: 0;
    margin-top: 63px;
}

@media only screen and (min-width: 1200px) {
    main {
        margin-left: 300px;
        margin-right: 300px;
    }
}

.map-info-box {
    position: absolute;
    z-index: 500;
}

.mapboxgl-popup-content {
    padding: 5px !important;
}